<div class="container-fluid">
        <div class="col-md-12">
            <form>
                <ul class="nav nav-pills nav-pills-warning">
                    
                    <li class="active">
                        <a href="#hero" data-toggle="tab">Hero</a>
                    </li>
                    <li>
                        <a href="#intro" data-toggle="tab">Introduction</a>
                    </li>
                    <li>
                        <a href="#gallery" data-toggle="tab">Gallery</a>
                    </li>
                    <li>
                        <a href="#basicInfo" data-toggle="tab">Basic Info</a>
                    </li>
                    <li>
                        <a href="#featureLarge" data-toggle="tab">Features</a>
                    </li>
                    <li>
                        <a href="#info" data-toggle="tab">Info</a>
                    </li>

                </ul>
                
                <div class="tab-content">
                    
                    <hero-editor class="tab-pane active" id="hero"></hero-editor>

                    <introduction class="tab-pane" id="intro"></introduction>

                    <gallery-upload class="tab-pane" id="gallery" [headTitle]="'Highlights'"></gallery-upload>

                    <basic-info class="tab-pane" id="basicInfo"></basic-info>

                    <feature-large class="tab-pane" id="featureLarge"></feature-large>

                    <info-block class="tab-pane" id="info"></info-block>

                </div>
              
</form>
        </div>
    </div>
