@{
    ViewData["Title"] = "About";
}

<!-- hero -->
<section class="hero">
    <div class="hero-overlay">
        <div class="container-fluid">
            <div class="row">
                <div class="hero-content">
                    <div class="col-md-12">
                        <h2 class="text-center">About Us</h2>
                        <p class="lead">High ceilings, pine wood flooring, great music, excellent coffee and a burning log fire add to the warmth and charm of our beautiful hair studio.</p>
                    </div>
                </div>
            </div>
            <div class="about-attributes-content">
                <div class="col-md-4">
                    <i class="fa fa-paint-brush about-icon"></i>
                    <h3 class="attribute-text-1">Calling</h3>
                </div>

                <div class="col-md-4">
                    <i class="fa fa-paint-brush"></i>
                    <h3 class="attribute-text-2">Belief</h3>
                </div>

                <div class="col-md-4">
                    <i class="fa fa-paint-brush"></i>
                    <h3 class="attribute-text-3">Drive</h3>
                </div>

            </div>
        </div>

    </div>
</section>
<!-- /.hero -->

<!-- who we are -->
<section class="intro bg-black text-white about-intro">
    <div class="container-fluid">
        <div class="row">
            <div class="center-block col-md-6 col-md-push-3">
                <h2 class="text-white text-center">Who we are</h2>
                <p class="text-center">Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>
                <p class="text-center">Eu augue augue nunc elit dolor, luctus placerat scelerisque euismod.</p>
            </div>
        </div>
        <div class="row">

            <article class="col-md-4">
                <figure class="text-center">
                    <img class="icon" src="~/icons/scissors-comb.svg" alt="Alternate Text"/>
                </figure>
                <h3 class="text-white text-center">Heading</h3>
                <p class="text-center">Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.</p>
            </article>

            <article class="col-md-4">
                <figure class="text-center">
                    <img class="icon" src="~/icons/blowdryer.svg" alt="Alternate Text"/>
                </figure>
                <h3 class="text-white text-center">Heading</h3>
                <p class="text-center">Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.</p>
            </article>

            <article class="col-md-4">
                <figure class="text-center">
                    <img class="icon" src="~/icons/heart.svg" alt="Alternate Text"/>
                </figure>
                <h3 class="text-white text-center">Heading</h3>
                <p class="text-center">Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.</p>
            </article>
        </div>
    </div>
</section>
<!-- /.who we are -->

<!-- team -->
<section class="intro team">
    <div class="container-fluid">
        <div class="row">
            <div class="center-block col-md-6 col-md-push-3">
                <h2 class="text-center">The Team</h2>
                <p class="text-center">Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>
                <p class="text-center">Eu augue augue nunc elit dolor, luctus placerat scelerisque euismod.</p>
            </div>
        </div>
        <div class="row">
            <article class="col-md-4">
                <figure class="text-center">
                    <img class="team-avatar" src="~/images/avatar-2.png" alt="Alisa"/>
                </figure>
                <h3 class="text-center">Alisa</h3>
                <p class="lead text-center">Owner / Senior Stylist</p>
            </article>

            <article class="col-md-4">
                <figure class="text-center">
                    <img class="team-avatar" src="~/images/avatar-2.png" alt="Alisa"/>
                </figure>
                <h3 class="text-center">Jessi</h3>
                <p class="lead text-center">Operator</p>
            </article>

            <article class="col-md-4">
                <figure class="text-center">
                    <img class="team-avatar" src="~/images/avatar-2.png" alt="Alisa"/>
                </figure>
                <h3 class="text-center">Naomi</h3>
                <p class="lead text-center">Operator</p>
            </article>
        </div>
    </div>
</section>
<!-- /.team -->

<!-- spotlight 1 -->
<section class="container-fluid spotlight-1 bg-black">
    <div class="content col-xs-12 col-md-6 pull-left">
        <h4 class="bg-black">Heading</h4>
        <p>Laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.</p>
        <a href="" class="btn-primary btn"><i class="fa fa-arrow-circle-right btn-icon"></i>Read More</a>
    </div>
    <div class="col-xs-12 col-md-6 pull-right spotlight-image-cont">
        <figure>
            <img class="spotlight-image" src="http://placeimg.com/600/400/any" alt=""/>
        </figure>
    </div>
</section>
<!-- /.spotlight 1 -->

<!-- spotlight 2 -->
<section class="container-fluid spotlight-1 bg-black">
    <div class="content col-xs-12 col-md-6 pull-right">
        <h4 class="bg-black">Heading</h4>
        <p>Laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.</p>
        <a href="" class="btn-primary btn"><i class="fa fa-arrow-circle-right btn-icon"></i>Read More</a>
    </div>
    <div class="col-xs-12 col-md-6 pull-left spotlight-image-cont">
        <figure>
            <img class="spotlight-image" src="http://placeimg.com/600/400/any" alt=""/>
        </figure>
    </div>
</section>
<!-- /.spotlight 2 -->

<!-- the salon -->
<div class="container-fluid about-gallery">
    <div class="bg-black about-gallery-header row">
        <h2 class="text-white text-center">The Space</h2>
    </div>

    <div class="row">
        <div class="col-md-6">
            <figure>
                <img class="about-spotlight-image" src="http://placeimg.com/600/400/any" alt=""/>
            </figure>
        </div>
        <div class="col-md-6">
            <figure>
                <img class="about-spotlight-image" src="http://placeimg.com/600/400/any" alt=""/>
            </figure>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <figure>
                <img clcass="about-spotlight-image" src="http://placeimg.com/1600/400/any" alt=""/>
                <div class="overlay"></div>
            </figure>
        </div>
    </div>
</div>
<!-- /.the salon -->

<!-- cta -->
<section class="container-fluid about-cta">
    <div class="col-md-9">
        <h4 class="lead">
            <i>Come see us, get beautified!</i>
        </h4>
    </div>
    <div class="col-md-3">
        <a href="#" class="btn btn-inverse">Book now</a>
    </div>
</section>
<!-- /.cta -->