@{
    ViewData["Title"] = "Testimonials";
}
<!-- hero -->
<!-- /.hero -->
<div class="container-fluid">
    <div class="bg-black testimonials-gallery-header row">
        <h2 class="text-white text-center">Testimonials</h2>
    </div>
</div>

<!-- testimonials container -->
<div class="container-fluid testimonials">
    <div class="row">
        <h2 class="text-center">See what people are saying about us</h2>
        <div class="col-md-12">
            <ul class="list-unstyled">
                <li class="testimonial">
                    <p>
                        <q>Best salon ever! Always makes you feel great... Highly recommend Alisa and Tristan... Naruto Uzumaki</q>
                    </p>
                </li>
                <li class="testimonial">
                    <p>
                        <q>Best salon ever! Always makes you feel great... Highly recommend Alisa and Tristan... Naruto Uzumaki</q>
                    </p>
                </li>
                <li class="testimonial">
                    <p>
                        <q>Best salon ever! Always makes you feel great... Highly recommend Alisa and Tristan... Naruto Uzumaki</q>
                    </p>
                </li>
                <li class="testimonial">
                   
                    <p>
                        <q>Best salon ever! Always makes you feel great... Highly recommend Alisa and Tristan... Naruto Uzumaki</q>
                    </p>
                </li>
                <li class="testimonial">
                   
                    <p>
                        <q>Best salon ever! Always makes you feel great... Highly recommend Alisa and Tristan... Naruto Uzumaki</q>
                    </p>
                </li>
                <li class="testimonial">
                   
                    <p>
                        <q>Best salon ever! Always makes you feel great... Highly recommend Alisa and Tristan... Naruto Uzumaki</q>
                    </p>
                </li>

            </ul>
        </div>
      
    </div>
</div>
<!-- /.testimonial container -->
<!-- intro -->
<section class="container intro testimonials-specialty">
    <div class="row">
        <div class="center-block col-md-6 col-md-push-3">
            <h2 class="text-center heading-tight">Specialise in</h2>
            <p class="text-center">Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>
            <p class="text-center">Eu augue augue nunc elit dolor, luctus placerat scelerisque euismod.</p>
        </div>
    </div>

</section>
<div class="testimonial-features row bg-black text-white">

    <article class="col-md-4">
        <figure class="text-center">
            <img class="testimonial-avatar" src="~/images/15391016_1362526437099171_4549117150305142306_n.jpg" alt="Alternate Text" />
        </figure>   
        <div class="testimonial-features-overlay"></div>
        <div class="testimonial-features-content">
        <h3 class="text-white text-center ">Color</h3>
        <p class="text-center">Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.</p>
        </div>
    </article>

    <article class="col-md-4 text-center">
        <img class="testimonial-avatar border-style" src="~/icons/spirals-of-vines.svg" alt="Alternate Text" />
        <h2 class="text-white margin-top-clear">Eccentric</h2>
        <p>Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.</p>
    <div class="col-md-6">
        <img class="testimonial-avatar brush" src="~/icons/brush-tool.svg" alt="Alternate Text" />
    </div>
        <div class="col-md-6">
        <img class="testimonial-avatar brush" src="~/icons/scissors-in-a-hair-salon-badge.svg" />
</div>
    </article>

    <article class="col-md-4">
        <figure class="">
            <img class="testimonial-avatar" src="~/images/16427317_1415302655154882_2045552767734076117_n.jpg" alt="Alternate Text" />
        </figure>
        <div class="testimonial-features-overlay"></div>
        <div class="testimonial-features-content">
            <h3 class="text-white text-center">Subtle</h3>
            <p class="text-center">Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.</p>
        </div>
    </article>

</div>


<!-- cta -->
<section class="container-fluid cta">
    <div class="row cta-row">
        <div class="col-md-9">
            <h4 class="lead">
                <i>Come in, we'd love to make your dreams come true :)</i>
            </h4>
        </div>
        <div class="col-md-3">
            <a href="#" class="btn btn-inverse">Book now</a>
        </div>
    </div>
</section>
<!-- /.cta -->
<!-- /.intro -->