<div class="card">
    <div class="form-horizontal">

        <div class="card-header" data-background-color="red">
            <h4 class="title">Large Features </h4>
            <p class="category">edit your large feature section</p>
        </div>

        <div class="row">

            <div class="card-content icon-list">

                <div class="col-md-12">
                    <div class="helper-text">
                        <p>
                            Choose an icon on this page <a href="http://fontawesome.io/icons/" target="_blank">http://fontawesome.io/icons/</a>, paste the "fa-icon-name" for the
                            specific icon in here to choose it.
                        </p>
                    </div>
                </div>

                <div class="col-md-12">
                    <h4 class="form-title">Feature 1</h4>
                    <!-- Feature -->
                    <div class="col-md-6">

                        <label class="col-sm-2 label-on-left">Icon</label>
                        <div class="col-sm-9">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input type="text" class="form-control" value>
                                <span class="help-block">eg - "fa-address-book"</span>
                            </div>
                        </div>
                    </div>

                    <!-- Title-->
                    <div class="col-md-6">
                        <label class="col-sm-2 label-on-left">Title</label>
                        <div class="col-sm-9">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input type="text" class="form-control" value>
                                <span class="help-block">eg - "Best Balayage in town"</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <h4 class="form-title">Feature 2</h4>
                    <!-- Feature -->
                    <div class="col-md-6">

                        <label class="col-sm-2 label-on-left">Icon</label>
                        <div class="col-sm-9">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input type="text" class="form-control" value>
                                <span class="help-block">eg - "fa-address-book"</span>
                            </div>
                        </div>
                    </div>
                    <!-- Title-->
                    <div class="col-md-6">
                        <label class="col-sm-2 label-on-left">Title</label>
                        <div class="col-sm-9">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input type="text" class="form-control" value>
                                <span class="help-block">eg - "Best Balayage in town"</span>
                            </div>
                        </div>
                    </div>

                    <h4 class="form-title">Feature 3</h4>
                    <!-- Feature -->
                    <div class="col-md-6">

                        <label class="col-sm-2 label-on-left">Icon</label>
                        <div class="col-sm-9">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input type="text" class="form-control" value>
                                <span class="help-block">eg - "fa-address-book"</span>
                            </div>
                        </div>
                    </div>
                    <!-- Title-->
                    <div class="col-md-6">
                        <label class="col-sm-2 label-on-left">Title</label>
                        <div class="col-sm-9">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input type="text" class="form-control" value>
                                <span class="help-block">eg - "Best Balayage in town"</span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-12">
                    <h4 class="form-title">Feature 4</h4>
                    <!-- Feature -->
                    <div class="col-md-6">

                        <label class="col-sm-2 label-on-left">Icon</label>
                        <div class="col-sm-9">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input type="text" class="form-control" value>
                                <span class="help-block">eg - "fa-address-book"</span>
                            </div>
                        </div>
                    </div>
                    <!-- Title-->
                    <div class="col-md-6">
                        <label class="col-sm-2 label-on-left">Title</label>
                        <div class="col-sm-9">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input type="text" class="form-control" value>
                                <span class="help-block">eg - "Best Balayage in town"</span>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>
        <!-- /.Title -->

    </div>
</div>