<div class="card">
    <div class="form-horizontal">
        <div class="card-header" data-background-color="red">
            <h4 class="title">Basic Info</h4>
            <p class="category">edit your basic info</p>
        </div>

        <!-- Title 1 -->
        <div class="card-content">
            <div class="row">
                <label class="col-sm-2 label-on-left">Title 1</label>
                <div class="col-sm-10">
                    <div class="form-group label-floating is-empty">
                        <label class="control-label"></label>
                        <input type="text" class="form-control" value="">
                        <span class="help-block">eg - "In December 2014 Alisa saw a salon for sale. The Beautiful started to happen. "</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.Title 1 -->
        <!-- Paragraph 1 -->
        <div class="card-content">
            <div class="row">
                <label class="col-sm-2 label-on-left">Paragraph 1</label>
                <div class="col-sm-10">
                    <div class="form-group">
                        <textarea class="form-control" rows="4"></textarea>
                        <span class="help-block">eg - "High ceilings, pine wood flooring, great music, excellent coffee and a burning log fire add to the warmth and charm of our beautiful hair studio."</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.Paragraph 1 -->
        
        <!-- Title 2 -->
        <div class="card-content">
            <div class="row">
                <label class="col-sm-2 label-on-left">Title 2</label>
                <div class="col-sm-10">
                    <div class="form-group label-floating is-empty">
                        <label class="control-label"></label>
                        <input type="text" class="form-control" value="">
                        <span class="help-block">eg - "In December 2014 Alisa saw a salon for sale. The Beautiful started to happen. "</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.Title 2 -->
        <!-- Paragraph 2 -->
        <div class="card-content">
            <div class="row">
                <label class="col-sm-2 label-on-left">Paragraph 2</label>
                <div class="col-sm-10">
                    <div class="form-group">
                        <textarea class="form-control" rows="4"></textarea>
                        <span class="help-block">eg - "High ceilings, pine wood flooring, great music, excellent coffee and a burning log fire add to the warmth and charm of our beautiful hair studio."</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.Paragraph 2 -->
    </div>
</div>