<div class="card">
    <div class="form-horizontal">

        <div class="card-header" data-background-color="red">
            <h4 class="title">Services</h4>
            <p class="category">edit your services offered</p>
        </div>

    <div class="row">
    
    <div class="card-content icon-list">

    <div class="col-md-4">
        <h4 class="form-title">Column 1</h4>

        <!-- Service -->
        <div class="col-md-6">

            <label class="col-sm-3 label-on-left">Service</label>
            <div class="col-sm-9">
                <div class="form-group label-floating is-empty">
                    <label class="control-label"></label>
                    <input type="text" class="form-control" value>
                    <span class="help-block">eg - "Balayage"</span>
                </div>
            </div>
        </div>

        <!-- Price-->
        <div class="col-md-6">
            <label class="col-sm-3 label-on-left">Price</label>
            <div class="col-sm-9">
                <div class="form-group label-floating is-empty">
                    <label class="control-label"></label>
                    <input type="text" class="form-control" value>
                    <span class="help-block">eg - R 300</span>
                </div>
            </div>
        </div>

        <!-- Service -->
        <div class="col-md-6">

            <label class="col-sm-3 label-on-left">Service</label>
            <div class="col-sm-9">
                <div class="form-group label-floating is-empty">
                    <label class="control-label"></label>
                    <input type="text" class="form-control" value>
                    <span class="help-block">eg - "Balayage"</span>
                </div>
            </div>
        </div>

        <!-- Price-->
        <div class="col-md-6">
            <label class="col-sm-3 label-on-left">Price</label>
            <div class="col-sm-9">
                <div class="form-group label-floating is-empty">
                    <label class="control-label"></label>
                    <input type="text" class="form-control" value>
                    <span class="help-block">eg - R 300</span>
                </div>
            </div>
        </div>

        <!-- Service -->
        <div class="col-md-6">

            <label class="col-sm-3 label-on-left">Service</label>
            <div class="col-sm-9">
                <div class="form-group label-floating is-empty">
                    <label class="control-label"></label>
                    <input type="text" class="form-control" value>
                    <span class="help-block">eg - "Balayage"</span>
                </div>
            </div>
        </div>

        <!-- Price-->
        <div class="col-md-6">
            <label class="col-sm-3 label-on-left">Price</label>
            <div class="col-sm-9">
                <div class="form-group label-floating is-empty">
                    <label class="control-label"></label>
                    <input type="text" class="form-control" value>
                    <span class="help-block">eg - R 300</span>
                </div>
            </div>
        </div>

        <!-- Service -->
        <div class="col-md-6">

            <label class="col-sm-3 label-on-left">Service</label>
            <div class="col-sm-9">
                <div class="form-group label-floating is-empty">
                    <label class="control-label"></label>
                    <input type="text" class="form-control" value>
                    <span class="help-block">eg - "Balayage"</span>
                </div>
            </div>
        </div>

        <!-- Price-->
        <div class="col-md-6">
            <label class="col-sm-3 label-on-left">Price</label>
            <div class="col-sm-9">
                <div class="form-group label-floating is-empty">
                    <label class="control-label"></label>
                    <input type="text" class="form-control" value>
                    <span class="help-block">eg - R 300</span>
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-4">
        <h4 class="form-title">Column 2</h4>

        <!-- Service -->
        <div class="col-md-6">

            <label class="col-sm-3 label-on-left">Service</label>
            <div class="col-sm-9">
                <div class="form-group label-floating is-empty">
                    <label class="control-label"></label>
                    <input type="text" class="form-control" value>
                    <span class="help-block">eg - "Balayage"</span>
                </div>
            </div>
        </div>

        <!-- Price-->
        <div class="col-md-6">
            <label class="col-sm-3 label-on-left">Price</label>
            <div class="col-sm-9">
                <div class="form-group label-floating is-empty">
                    <label class="control-label"></label>
                    <input type="text" class="form-control" value>
                    <span class="help-block">eg - R 300</span>
                </div>
            </div>
        </div>

        <!-- Service -->
        <div class="col-md-6">

            <label class="col-sm-3 label-on-left">Service</label>
            <div class="col-sm-9">
                <div class="form-group label-floating is-empty">
                    <label class="control-label"></label>
                    <input type="text" class="form-control" value>
                    <span class="help-block">eg - "Balayage"</span>
                </div>
            </div>
        </div>

        <!-- Price-->
        <div class="col-md-6">
            <label class="col-sm-3 label-on-left">Price</label>
            <div class="col-sm-9">
                <div class="form-group label-floating is-empty">
                    <label class="control-label"></label>
                    <input type="text" class="form-control" value>
                    <span class="help-block">eg - R 300</span>
                </div>
            </div>
        </div>

        <!-- Service -->
        <div class="col-md-6">

            <label class="col-sm-3 label-on-left">Service</label>
            <div class="col-sm-9">
                <div class="form-group label-floating is-empty">
                    <label class="control-label"></label>
                    <input type="text" class="form-control" value>
                    <span class="help-block">eg - "Balayage"</span>
                </div>
            </div>
        </div>

        <!-- Price-->
        <div class="col-md-6">
            <label class="col-sm-3 label-on-left">Price</label>
            <div class="col-sm-9">
                <div class="form-group label-floating is-empty">
                    <label class="control-label"></label>
                    <input type="text" class="form-control" value>
                    <span class="help-block">eg - R 300</span>
                </div>
            </div>
        </div>

        <!-- Service -->
        <div class="col-md-6">

            <label class="col-sm-3 label-on-left">Service</label>
            <div class="col-sm-9">
                <div class="form-group label-floating is-empty">
                    <label class="control-label"></label>
                    <input type="text" class="form-control" value>
                    <span class="help-block">eg - "Balayage"</span>
                </div>
            </div>
        </div>

        <!-- Price-->
        <div class="col-md-6">
            <label class="col-sm-3 label-on-left">Price</label>
            <div class="col-sm-9">
                <div class="form-group label-floating is-empty">
                    <label class="control-label"></label>
                    <input type="text" class="form-control" value>
                    <span class="help-block">eg - R 300</span>
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-4">
        <h4 class="form-title">Column 3</h4>

        <!-- Service -->
        <div class="col-md-6">

            <label class="col-sm-3 label-on-left">Service</label>
            <div class="col-sm-9">
                <div class="form-group label-floating is-empty">
                    <label class="control-label"></label>
                    <input type="text" class="form-control" value>
                    <span class="help-block">eg - "Balayage"</span>
                </div>
            </div>
        </div>

        <!-- Price-->
        <div class="col-md-6">
            <label class="col-sm-3 label-on-left">Price</label>
            <div class="col-sm-9">
                <div class="form-group label-floating is-empty">
                    <label class="control-label"></label>
                    <input type="text" class="form-control" value>
                    <span class="help-block">eg - R 300</span>
                </div>
            </div>
        </div>

        <!-- Service -->
        <div class="col-md-6">

            <label class="col-sm-3 label-on-left">Service</label>
            <div class="col-sm-9">
                <div class="form-group label-floating is-empty">
                    <label class="control-label"></label>
                    <input type="text" class="form-control" value>
                    <span class="help-block">eg - "Balayage"</span>
                </div>
            </div>
        </div>

        <!-- Price-->
        <div class="col-md-6">
            <label class="col-sm-3 label-on-left">Price</label>
            <div class="col-sm-9">
                <div class="form-group label-floating is-empty">
                    <label class="control-label"></label>
                    <input type="text" class="form-control" value>
                    <span class="help-block">eg - R 300</span>
                </div>
            </div>
        </div>

        <!-- Service -->
        <div class="col-md-6">

            <label class="col-sm-3 label-on-left">Service</label>
            <div class="col-sm-9">
                <div class="form-group label-floating is-empty">
                    <label class="control-label"></label>
                    <input type="text" class="form-control" value>
                    <span class="help-block">eg - "Balayage"</span>
                </div>
            </div>
        </div>

        <!-- Price-->
        <div class="col-md-6">
            <label class="col-sm-3 label-on-left">Price</label>
            <div class="col-sm-9">
                <div class="form-group label-floating is-empty">
                    <label class="control-label"></label>
                    <input type="text" class="form-control" value>
                    <span class="help-block">eg - R 300</span>
                </div>
            </div>
        </div>

        <!-- Service -->
        <div class="col-md-6">

            <label class="col-sm-3 label-on-left">Service</label>
            <div class="col-sm-9">
                <div class="form-group label-floating is-empty">
                    <label class="control-label"></label>
                    <input type="text" class="form-control" value>
                    <span class="help-block">eg - "Balayage"</span>
                </div>
            </div>
        </div>

        <!-- Price-->
        <div class="col-md-6">
            <label class="col-sm-3 label-on-left">Price</label>
            <div class="col-sm-9">
                <div class="form-group label-floating is-empty">
                    <label class="control-label"></label>
                    <input type="text" class="form-control" value>
                    <span class="help-block">eg - R 300</span>
                </div>
            </div>
        </div>

    </div>

    </div>

    </div>

        <div class="row">

            <div class="card-content icon-list">

                <div class="col-md-4">
                    <h4 class="form-title">Column 1</h4>

                    <!-- Service -->
                    <div class="col-md-6">

                        <label class="col-sm-3 label-on-left">Service</label>
                        <div class="col-sm-9">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input type="text" class="form-control" value>
                                <span class="help-block">eg - "Balayage"</span>
                            </div>
                        </div>
                    </div>

                    <!-- Price-->
                    <div class="col-md-6">
                        <label class="col-sm-3 label-on-left">Price</label>
                        <div class="col-sm-9">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input type="text" class="form-control" value>
                                <span class="help-block">eg - R 300</span>
                            </div>
                        </div>
                    </div>

                    <!-- Service -->
                    <div class="col-md-6">

                        <label class="col-sm-3 label-on-left">Service</label>
                        <div class="col-sm-9">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input type="text" class="form-control" value>
                                <span class="help-block">eg - "Balayage"</span>
                            </div>
                        </div>
                    </div>

                    <!-- Price-->
                    <div class="col-md-6">
                        <label class="col-sm-3 label-on-left">Price</label>
                        <div class="col-sm-9">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input type="text" class="form-control" value>
                                <span class="help-block">eg - R 300</span>
                            </div>
                        </div>
                    </div>

                    <!-- Service -->
                    <div class="col-md-6">

                        <label class="col-sm-3 label-on-left">Service</label>
                        <div class="col-sm-9">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input type="text" class="form-control" value>
                                <span class="help-block">eg - "Balayage"</span>
                            </div>
                        </div>
                    </div>

                    <!-- Price-->
                    <div class="col-md-6">
                        <label class="col-sm-3 label-on-left">Price</label>
                        <div class="col-sm-9">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input type="text" class="form-control" value>
                                <span class="help-block">eg - R 300</span>
                            </div>
                        </div>
                    </div>

                    <!-- Service -->
                    <div class="col-md-6">

                        <label class="col-sm-3 label-on-left">Service</label>
                        <div class="col-sm-9">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input type="text" class="form-control" value>
                                <span class="help-block">eg - "Balayage"</span>
                            </div>
                        </div>
                    </div>

                    <!-- Price-->
                    <div class="col-md-6">
                        <label class="col-sm-3 label-on-left">Price</label>
                        <div class="col-sm-9">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input type="text" class="form-control" value>
                                <span class="help-block">eg - R 300</span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-4">
                    <h4 class="form-title">Column 2</h4>

                    <!-- Service -->
                    <div class="col-md-6">

                        <label class="col-sm-3 label-on-left">Service</label>
                        <div class="col-sm-9">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input type="text" class="form-control" value>
                                <span class="help-block">eg - "Balayage"</span>
                            </div>
                        </div>
                    </div>

                    <!-- Price-->
                    <div class="col-md-6">
                        <label class="col-sm-3 label-on-left">Price</label>
                        <div class="col-sm-9">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input type="text" class="form-control" value>
                                <span class="help-block">eg - R 300</span>
                            </div>
                        </div>
                    </div>

                    <!-- Service -->
                    <div class="col-md-6">

                        <label class="col-sm-3 label-on-left">Service</label>
                        <div class="col-sm-9">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input type="text" class="form-control" value>
                                <span class="help-block">eg - "Balayage"</span>
                            </div>
                        </div>
                    </div>

                    <!-- Price-->
                    <div class="col-md-6">
                        <label class="col-sm-3 label-on-left">Price</label>
                        <div class="col-sm-9">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input type="text" class="form-control" value>
                                <span class="help-block">eg - R 300</span>
                            </div>
                        </div>
                    </div>

                    <!-- Service -->
                    <div class="col-md-6">

                        <label class="col-sm-3 label-on-left">Service</label>
                        <div class="col-sm-9">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input type="text" class="form-control" value>
                                <span class="help-block">eg - "Balayage"</span>
                            </div>
                        </div>
                    </div>

                    <!-- Price-->
                    <div class="col-md-6">
                        <label class="col-sm-3 label-on-left">Price</label>
                        <div class="col-sm-9">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input type="text" class="form-control" value>
                                <span class="help-block">eg - R 300</span>
                            </div>
                        </div>
                    </div>

                    <!-- Service -->
                    <div class="col-md-6">

                        <label class="col-sm-3 label-on-left">Service</label>
                        <div class="col-sm-9">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input type="text" class="form-control" value>
                                <span class="help-block">eg - "Balayage"</span>
                            </div>
                        </div>
                    </div>

                    <!-- Price-->
                    <div class="col-md-6">
                        <label class="col-sm-3 label-on-left">Price</label>
                        <div class="col-sm-9">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input type="text" class="form-control" value>
                                <span class="help-block">eg - R 300</span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-4">
                    <h4 class="form-title">Column 3</h4>

                    <!-- Service -->
                    <div class="col-md-6">

                        <label class="col-sm-3 label-on-left">Service</label>
                        <div class="col-sm-9">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input type="text" class="form-control" value>
                                <span class="help-block">eg - "Balayage"</span>
                            </div>
                        </div>
                    </div>

                    <!-- Price-->
                    <div class="col-md-6">
                        <label class="col-sm-3 label-on-left">Price</label>
                        <div class="col-sm-9">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input type="text" class="form-control" value>
                                <span class="help-block">eg - R 300</span>
                            </div>
                        </div>
                    </div>

                    <!-- Service -->
                    <div class="col-md-6">

                        <label class="col-sm-3 label-on-left">Service</label>
                        <div class="col-sm-9">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input type="text" class="form-control" value>
                                <span class="help-block">eg - "Balayage"</span>
                            </div>
                        </div>
                    </div>

                    <!-- Price-->
                    <div class="col-md-6">
                        <label class="col-sm-3 label-on-left">Price</label>
                        <div class="col-sm-9">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input type="text" class="form-control" value>
                                <span class="help-block">eg - R 300</span>
                            </div>
                        </div>
                    </div>

                    <!-- Service -->
                    <div class="col-md-6">

                        <label class="col-sm-3 label-on-left">Service</label>
                        <div class="col-sm-9">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input type="text" class="form-control" value>
                                <span class="help-block">eg - "Balayage"</span>
                            </div>
                        </div>
                    </div>

                    <!-- Price-->
                    <div class="col-md-6">
                        <label class="col-sm-3 label-on-left">Price</label>
                        <div class="col-sm-9">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input type="text" class="form-control" value>
                                <span class="help-block">eg - R 300</span>
                            </div>
                        </div>
                    </div>

                    <!-- Service -->
                    <div class="col-md-6">

                        <label class="col-sm-3 label-on-left">Service</label>
                        <div class="col-sm-9">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input type="text" class="form-control" value>
                                <span class="help-block">eg - "Balayage"</span>
                            </div>
                        </div>
                    </div>

                    <!-- Price-->
                    <div class="col-md-6">
                        <label class="col-sm-3 label-on-left">Price</label>
                        <div class="col-sm-9">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input type="text" class="form-control" value>
                                <span class="help-block">eg - R 300</span>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <div class="row">

            <div class="card-content icon-list">

                <div class="col-md-4">
                    <h4 class="form-title">Column 1</h4>

                    <!-- Service -->
                    <div class="col-md-6">

                        <label class="col-sm-3 label-on-left">Service</label>
                        <div class="col-sm-9">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input type="text" class="form-control" value>
                                <span class="help-block">eg - "Balayage"</span>
                            </div>
                        </div>
                    </div>

                    <!-- Price-->
                    <div class="col-md-6">
                        <label class="col-sm-3 label-on-left">Price</label>
                        <div class="col-sm-9">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input type="text" class="form-control" value>
                                <span class="help-block">eg - R 300</span>
                            </div>
                        </div>
                    </div>

                    <!-- Service -->
                    <div class="col-md-6">

                        <label class="col-sm-3 label-on-left">Service</label>
                        <div class="col-sm-9">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input type="text" class="form-control" value>
                                <span class="help-block">eg - "Balayage"</span>
                            </div>
                        </div>
                    </div>

                    <!-- Price-->
                    <div class="col-md-6">
                        <label class="col-sm-3 label-on-left">Price</label>
                        <div class="col-sm-9">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input type="text" class="form-control" value>
                                <span class="help-block">eg - R 300</span>
                            </div>
                        </div>
                    </div>

                    <!-- Service -->
                    <div class="col-md-6">

                        <label class="col-sm-3 label-on-left">Service</label>
                        <div class="col-sm-9">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input type="text" class="form-control" value>
                                <span class="help-block">eg - "Balayage"</span>
                            </div>
                        </div>
                    </div>

                    <!-- Price-->
                    <div class="col-md-6">
                        <label class="col-sm-3 label-on-left">Price</label>
                        <div class="col-sm-9">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input type="text" class="form-control" value>
                                <span class="help-block">eg - R 300</span>
                            </div>
                        </div>
                    </div>

                    <!-- Service -->
                    <div class="col-md-6">

                        <label class="col-sm-3 label-on-left">Service</label>
                        <div class="col-sm-9">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input type="text" class="form-control" value>
                                <span class="help-block">eg - "Balayage"</span>
                            </div>
                        </div>
                    </div>

                    <!-- Price-->
                    <div class="col-md-6">
                        <label class="col-sm-3 label-on-left">Price</label>
                        <div class="col-sm-9">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input type="text" class="form-control" value>
                                <span class="help-block">eg - R 300</span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-4">
                    <h4 class="form-title">Column 2</h4>

                    <!-- Service -->
                    <div class="col-md-6">

                        <label class="col-sm-3 label-on-left">Service</label>
                        <div class="col-sm-9">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input type="text" class="form-control" value>
                                <span class="help-block">eg - "Balayage"</span>
                            </div>
                        </div>
                    </div>

                    <!-- Price-->
                    <div class="col-md-6">
                        <label class="col-sm-3 label-on-left">Price</label>
                        <div class="col-sm-9">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input type="text" class="form-control" value>
                                <span class="help-block">eg - R 300</span>
                            </div>
                        </div>
                    </div>

                    <!-- Service -->
                    <div class="col-md-6">

                        <label class="col-sm-3 label-on-left">Service</label>
                        <div class="col-sm-9">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input type="text" class="form-control" value>
                                <span class="help-block">eg - "Balayage"</span>
                            </div>
                        </div>
                    </div>

                    <!-- Price-->
                    <div class="col-md-6">
                        <label class="col-sm-3 label-on-left">Price</label>
                        <div class="col-sm-9">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input type="text" class="form-control" value>
                                <span class="help-block">eg - R 300</span>
                            </div>
                        </div>
                    </div>

                    <!-- Service -->
                    <div class="col-md-6">

                        <label class="col-sm-3 label-on-left">Service</label>
                        <div class="col-sm-9">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input type="text" class="form-control" value>
                                <span class="help-block">eg - "Balayage"</span>
                            </div>
                        </div>
                    </div>

                    <!-- Price-->
                    <div class="col-md-6">
                        <label class="col-sm-3 label-on-left">Price</label>
                        <div class="col-sm-9">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input type="text" class="form-control" value>
                                <span class="help-block">eg - R 300</span>
                            </div>
                        </div>
                    </div>

                    <!-- Service -->
                    <div class="col-md-6">

                        <label class="col-sm-3 label-on-left">Service</label>
                        <div class="col-sm-9">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input type="text" class="form-control" value>
                                <span class="help-block">eg - "Balayage"</span>
                            </div>
                        </div>
                    </div>

                    <!-- Price-->
                    <div class="col-md-6">
                        <label class="col-sm-3 label-on-left">Price</label>
                        <div class="col-sm-9">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input type="text" class="form-control" value>
                                <span class="help-block">eg - R 300</span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-4">
                    <h4 class="form-title">Column 3</h4>

                    <!-- Service -->
                    <div class="col-md-6">

                        <label class="col-sm-3 label-on-left">Service</label>
                        <div class="col-sm-9">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input type="text" class="form-control" value>
                                <span class="help-block">eg - "Balayage"</span>
                            </div>
                        </div>
                    </div>

                    <!-- Price-->
                    <div class="col-md-6">
                        <label class="col-sm-3 label-on-left">Price</label>
                        <div class="col-sm-9">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input type="text" class="form-control" value>
                                <span class="help-block">eg - R 300</span>
                            </div>
                        </div>
                    </div>

                    <!-- Service -->
                    <div class="col-md-6">

                        <label class="col-sm-3 label-on-left">Service</label>
                        <div class="col-sm-9">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input type="text" class="form-control" value>
                                <span class="help-block">eg - "Balayage"</span>
                            </div>
                        </div>
                    </div>

                    <!-- Price-->
                    <div class="col-md-6">
                        <label class="col-sm-3 label-on-left">Price</label>
                        <div class="col-sm-9">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input type="text" class="form-control" value>
                                <span class="help-block">eg - R 300</span>
                            </div>
                        </div>
                    </div>

                    <!-- Service -->
                    <div class="col-md-6">

                        <label class="col-sm-3 label-on-left">Service</label>
                        <div class="col-sm-9">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input type="text" class="form-control" value>
                                <span class="help-block">eg - "Balayage"</span>
                            </div>
                        </div>
                    </div>

                    <!-- Price-->
                    <div class="col-md-6">
                        <label class="col-sm-3 label-on-left">Price</label>
                        <div class="col-sm-9">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input type="text" class="form-control" value>
                                <span class="help-block">eg - R 300</span>
                            </div>
                        </div>
                    </div>

                    <!-- Service -->
                    <div class="col-md-6">

                        <label class="col-sm-3 label-on-left">Service</label>
                        <div class="col-sm-9">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input type="text" class="form-control" value>
                                <span class="help-block">eg - "Balayage"</span>
                            </div>
                        </div>
                    </div>

                    <!-- Price-->
                    <div class="col-md-6">
                        <label class="col-sm-3 label-on-left">Price</label>
                        <div class="col-sm-9">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input type="text" class="form-control" value>
                                <span class="help-block">eg - R 300</span>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
</div>