<div class="card">
    
    <div class="card-header" data-background-color="red">
        <h4 class="title">{{headTitle}} section</h4>
        <p class="category">upload images for the {{subTitle}} section</p>
    </div>

    <div class="card-content">
        
        <div class="row">
            <div class="col-md-12">
                <div class="card-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <image-upload></image-upload>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>