<!-- header container -->
<section class="container-fluid">
    <!-- header-->
    <header>
        <div class="row">
            <!-- nav -->
            <nav class="main-nav nav navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="nav-container container">

                    <!-- navbar header / burger + logo -->
                    <div class="navbar-header">

                        <!-- data-toggle tells JS what kind of toggle, data-target what element to toggle -->
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-home" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar top-bar"></span>
                            <span class="icon-bar middle-bar"></span>
                            <span class="icon-bar bottom-bar"></span>
                        </button>

                        <a class="navbar-brand" href="/home">BEAUTIFULCHAOS</a>

                    </div><!-- /.navbar -->
                    <!-- collapse & navbar-collapse wrapper is used to specify what should be collapsed (children) -->
                    <div class="collapse navbar-collapse" id="main-nav-home">
                        <!-- navbar body -->
                        <ul class="bc-nav nav navbar-nav navbar-right">
                            <li role="presentation">
                                <a href="/home" class="text-uppercase">Home</a>
                            </li>
                            <li role="presentation">
                                <a href="/about" class="text-uppercase">About</a>
                            </li>
                            <li role="presentation">
                                <a href="/services" class="text-uppercase">Services</a>
                            </li>
                            <li role="presentation">
                                <a href="/work" class="text-uppercase">Work</a>
                            </li>
                            <li role="presentation">
                                <a href="/testimonials" class="text-uppercase">Testimonials</a>
                            </li>
                            <li role="presentation">
                                <a href="/contact" class="text-uppercase">Contact</a>
                            </li>
                            <li role="presentation">
                                <a href="https://www.facebook.com/BeautifulChaosHairArtistry/" target="_blank" class="text-uppercase"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li role="presentation">
                                <a href="https://www.instagram.com/beautiful_chaos_hair_artistry_/" target="_blank" class="text-uppercase"><i class="fa fa-instagram"></i></a>
                            </li>
                           
                        </ul>
                    </div><!-- /.navbar body -->

                </div><!-- /.container-fluid -->
            </nav> <!-- /.nav -->

        </div>
    </header>
    <!-- /.header -->
</section> <!-- /.header container -->
<!-- /.header container -->