<div class="card">
    <div class="form-horizontal">
        <div class="card-header" data-background-color="red">
            <h4 class="title">Features</h4>
            <p class="category">edit your feature info</p>
        </div>
        
        <!-- Feature 1 -->
        <div class="col-md-12">
            <h4 class="form-section-title">Feature 1</h4>
        </div>
        <feature></feature>
        
        <!-- Feature 2 -->
        <div class="col-md-12">
            <h4 class="form-section-title">Feature 2</h4>
        </div>
        <feature></feature>
        
        <!-- Feature 3 -->
        <div class="col-md-12">
            <h4 class="form-section-title">Feature 3</h4>
        </div>
        <feature></feature>
    </div>
</div>