<div class="container-fluid">
        <div class="col-md-12">
            <form>
                <ul class="nav nav-pills nav-pills-warning">

                    <li class="active">
                        <a href="#hero" data-toggle="tab">Hero</a>
                    </li>

                    <li>
                        <a href="#service-list" data-toggle="tab">Services</a>
                    </li>
                    <li>
                        <a href="#specialise" data-toggle="tab">Specialise</a>
                    </li>
                    <li>
                        <a href="#features" data-toggle="tab">Features</a>
                    </li>

                </ul>

                <div class="tab-content">

                    <hero-editor class="tab-pane active" id="hero"></hero-editor>
                    
                    <service-list class="tab-pane" id="service-list"></service-list>

                    <specialise class="tab-pane" id="specialise"></specialise>
                    
                    <features class="tab-pane" id="features"></features>

                    
                </div>

            </form>
        </div>
    </div>